.center-width-half {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-width-70-percent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.center-width-80-percent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


h1 {
    font-size: 25px;
}

h1.pinned-title {
    font-size: 25px;
    display: flex;
    align-items: center;
    margin: 1.3rem 0 0 0;
}

h1.pinned-title .logo {
    width: 15px;
    height: auto;
    margin-right: 0.5rem;
}